<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    
    <label for="name">Name</label>  
    <input type="text" id="name" formControlName="name" id="name">
    
    <label for="age">Age</label>
    <input type="text" id="age" formControlName="age" id="">
    
    <div formGroupName="address">
        <label for="village">Village</label>
        <input type="text" formControlName="village" />
    </div>
    
    <div formArrayName="aliases">
        <button (click)="addAliases()">Add aliases</button>
        @for (item of aliases.controls; track $index;let i=$index ) {
            <label for="array{{i}}">fom{{i}}</label>
            <input type="text" [formControlName]="i" id="array{{i}}" />
        }

    </div>
    <span>{{userForm.get('name')?.valid}}</span>
    <button type="submit">Submit</button>
</form>